# 3_Feed_Forward_Neural_Network/* linguist-vendored
# 4_Tensorboard/* linguist-vendored
# 5_AutoEncoder/* linguist-vendored
# 6_Convolutional_Neural_Network/* linguist-vendored

# _img/* linguist-vendored

*.ipynb linguist-language=Python


# Basic .gitattributes for a python repo.

# Source files
# ============
*.pxd		text
*.py 		text
*.py3 		text
*.pyw 		text
*.pyx  		text

# Binary files
# ============
*.db		binary
*.p 		binary
*.pkl 		binary
*.pyc 		binary
*.pyd		binary
*.pyo 		binary

# Note: .db, .p, and .pkl files are associated
# with the python modules ``pickle``, ``dbm.*``,
# ``shelve``, ``marshal``, ``anydbm``, & ``bsddb``
# (among others).
